html 
{  
    background-color: lightskyblue;
}



body 
{
  background-color: lightgrey;
  width:800;
  margin-left : auto;
  margin-right : auto;
  font-size:250%
}


h1 
{
  color: white;
  margin-left: 20px;
}
.navigation
{
    background-color: darkcyan;
    color:white;
    height:80;
}

.navigation li 
{ 
    display: inline-block; 
    text-align: center;
    vertical-align: middle;    
    width: 28%;
}

.navigation a:link 
{  
    color: white
}

.navigation a:visited 
{  
    color: #ffff00;
}

.navigation a:hover
{
    color: red; 
}

.content p
{
    font-size:50%;
      display: inline;  
     /* float:left;   */
     /* position: relative;  */
     /* top: 0px;   */
     /* vertical-align: top;        */
}